<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx.xsd
           http://www.springframework.org/schema/mvc
           http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- Cargar propiedades desde application.properties -->
    <context:property-placeholder location="classpath:application.properties" />

    <!-- Escaneo de componentes para detectar anotaciones como @Component, @Service, @Repository, etc. -->
    <context:component-scan base-package="cl.caranguizh" />

    <!-- Configuración del DataSource usando propiedades -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="#{databaseProperties['db.driver']}" />
        <property name="url" value="#{databaseProperties['db.url']}" />
        <property name="username" value="#{databaseProperties['db.username']}" />
        <property name="password" value="#{databaseProperties['db.password']}" />
    </bean>
    
    <!-- Configuración de Hibernate usando propiedades -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="packagesToScan" value="cl.caranguizh.model" />
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
                <prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
                <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
            </props>
        </property>
    </bean>
        
    <!-- Delegar solicitudes de recursos estáticos al servlet por defecto -->
    <mvc:default-servlet-handler />

    <!-- Asegúrate de que ya está definido el dataSource -->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg ref="dataSource" />
    </bean>

    <!-- Configuración del gestor de transacciones -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <!-- Habilitar la gestión de transacciones basada en anotaciones -->
    <tx:annotation-driven transaction-manager="transactionManager" />

    <!-- Configuración de Spring MVC -->
    <mvc:annotation-driven />
    <mvc:resources mapping="/resources/**" location="/resources/" />

</beans>